body {
    font-family: 'Bangers', cursive;
    background-image: url("fondo2.png");

}

.header{
    width: 100%;
    overflow: auto;
    background-color: black;
    color: hotpink;

}

.header ul {
    padding-bottom: 35px;
    margin: 0 0 0 150px;
    list-style: none;
}

.header ul li {
    float: right;
}

.logo img {
    position: absolute;
    margin-top: 0px;
    margin-left: 5px;
    width: 78pt;
    height: 58pt;
}

.header a {
    width: 100px;
    color: #ECFBFF;
    display: block;
    padding: 5px 5px;
    text-decoration: none;
    text-align: center;
    font-size: larger;
}

nav a:hover {
    background-color: #FF5026;
    transition: 0.5s;
    text-transform: uppercase;

}

.contenedor{
    width:90%;
    text-align:center;
    margin-left: 5%;
    margin-right: 5%;
    background-color: honeydew;
    border: 1px solid honeydew;
   
    
}

.col1{

    float: left;
    width: 30%;
    border: solid;
    border-width: 2px;
    border-radius: 20px 20px 20px 20px;
    border-color: #7F2089;
    background-color: ivory;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    
   
    
}


.col2{
 
   float: left;
    margin:0 auto;
    width: 30%;
    border: solid;
    border-width: 2px;
    border-radius: 20px 20px 20px 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #7F2089;
    background-color: ivory;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    
}

.col3{

  
    float: left;
    width: 30%;
    border: solid;
    border-width: 2px;
    border-radius: 20px 20px 20px 20px;
    border-color: #7F2089;
    background-color: ivory;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    
}



footer {
    background-color: #C7C1C1;
    position: fixed;
    overflow:auto;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center
    
    
}
